<section class="about-me" id="about-me">
    <div class="container">
        <h2 class="hidden"> About me </h2>
        <div class="about-me-discr">
            <div class="discr-card">
                <p class="discr-text">
                    I work with people all over the world to create
                    impressive and <span class="accent-first">functional</span> <span
                        class="accent-second">websites</span>
                    that reflect each client's unique personality.
                </p>
            </div>
            <div class="discr-card">
                <img class="discr-img">
            </div>

        </div>
        <div>
            <ul class="accordion">
                <li class="accordion-item open">
                    <div class="accordion-header">
                        <span class="accordion-header-text">About Me</span>
                        <button class="accordion-toggle" aria-expanded="true">
                            <img src="path-to-up-icon.svg" alt="Collapse" class="icon icon-up" />
                        </button>
                    </div>
                    <div class="accordion-content">
                        <p>I am Lloyd Jefferson, a talented programmer with extensive expertise in software development.
                            I have an understanding of
                            different programming languages and technologies, always ready to improve my skills. I
                            always follow the latest trends
                            and look for unconventional, creative solutions to problems. I have a high level of
                            analytical skills and am able to
                            effectively solve even the most difficult tasks encountered on the way.</p>

                        <p> Able to work both independently and in a team. I can effectively cooperate with colleagues,
                            exchanging ideas and finding
                            optimal solutions. Professional maturity allows you to calmly cope with challenges and
                            stressful situations, while
                            maintaining a high quality of work. I am always looking for opportunities for
                            self-improvement. I actively study new
                            technologies and practices to stay abreast of the latest innovations. I have a strong
                            understanding of various
                            programming languages, frameworks and architectural concepts that allow me to create
                            efficient and scalable software.</p>
                    </div>
                </li>
                <li class="accordion-item">
                    <div class="accordion-header">
                        <span class="accordion-header-text">Role</span>
                        <button class="accordion-toggle" aria-expanded="false">
                            <img src="path-to-down-icon.svg" alt="Collapse" class="icon icon-down" />
                        </button>
                    </div>
                    <div class="accordion-content">
                        <ul>
                            <li>Frontend development</li>
                            <li>HeadlessCMS, Wordpress</li>
                            <li>Blender (enjoy)</li>
                        </ul>
                    </div>
                </li>
                <li class="accordion-item">
                    <div class="accordion-header">
                        <span class="accordion-header-text">Education</span>
                        <button class="accordion-toggle" aria-expanded="false">
                            <img src="path-to-down-icon.svg" alt="Expand" class="icon icon-down" />
                        </button>
                    </div>
                    <div class="accordion-content">
                        <ul>
                            <li>2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York</li>
                            <li>2019 - 2020 / Advanced Web Development Certificate, GoIT IT School, New York</li>
                            <li>2020 - 2022 / Advanced Blender Animation Techniques, Udemy</li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <div>
            <ul class="skills-list">
                <li>HTML/CSS</li>
                <li>JavaScript</li>
                <li>React</li>
                <li>Node. js</li>
                <li>React Native</li>
                <li>Soft skills</li>
            </ul>
            <!--
                <button class="accordion-toggle" aria-expanded="false">
                    <img src="path-to-side-icon.svg" alt="Expand" class="icon icon-right" />
                </button> 
                -->

        </div>

    </div>
</section>