<section id="covers">
    <div class="container">
        <ul class="projects-list">
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_1.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_2.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_3.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_4.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_5.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_1.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_2.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_3.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_4.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_5.jpg"
                    alt="project image"
                />
            </li>
        </ul>
        <ul class="projects-list">
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_6.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_7.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_8.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_9.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_10.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_6.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_7.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_8.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_9.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_10.jpg"
                    alt="project image"
                />
            </li>
        </ul>
        <ul class="projects-list">
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_1.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_2.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_3.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_4.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_5.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_1.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_2.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_3.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_4.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_5.jpg"
                    alt="project image"
                />
            </li>
        </ul>
        <ul class="projects-list">
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_9.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_10.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_1.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_2.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_3.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_9.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_10.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_1.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_2.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_3.jpg"
                    alt="project image"
                />
            </li>
        </ul>
        <ul class="projects-list">
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_5.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_6.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_7.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_8.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_9.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_10.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_5.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_6.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_7.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_8.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_9.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project_img_10.jpg"
                    alt="project image"
                />
            </li>
        </ul>
    </div>
</section>
