<section id="covers">
    <div class="container">
        <ul class="projects-list">
            <li>
                <img src="../img/project_img(1).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(2).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(3).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(4).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(5).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(6).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(7).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(8).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(9).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(10).jpg" alt="" />
            </li>
        </ul>
        <ul class="projects-list">
            <li>
                <img src="../img/project_img(3).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(4).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(5).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(6).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(7).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(8).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(9).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(10).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(1).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(2).jpg" alt="" />
            </li>
        </ul>
        <ul class="projects-list">
            <li>
                <img src="../img/project_img(6).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(7).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(8).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(9).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(10).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(1).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(2).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(3).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(4).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(5).jpg" alt="" />
            </li>
        </ul>
        <ul class="projects-list">
            <li>
                <img src="../img/project_img(9).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(10).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(1).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(2).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(3).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(4).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(5).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(6).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(7).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(8).jpg" alt="" />
            </li>
        </ul>
        <ul class="projects-list">
            <li>
                <img src="../img/project_img(1).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(2).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(3).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(4).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(5).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(6).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(7).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(8).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(9).jpg" alt="" />
            </li>
            <li>
                <img src="../img/project_img(10).jpg" alt="" />
            </li>
        </ul>
    </div>
</section>
