<section id="covers">
    <div class="container">
        <h2 class="visually-hidden">Covers</h2>
        <ul class="projects-list">
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-1.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-2.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-3.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-4.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-5.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-1.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-2.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-3.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-4.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-5.jpg"
                    alt="project image"
                />
            </li>
        </ul>
        <ul class="projects-list">
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-6.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-7.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-8.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-9.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-10.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-6.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-7.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-8.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-9.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-10.jpg"
                    alt="project image"
                />
            </li>
        </ul>
        <ul class="projects-list">
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-1.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-2.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-3.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-4.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-5.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-1.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-2.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-3.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-4.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-5.jpg"
                    alt="project image"
                />
            </li>
        </ul>
        <ul class="projects-list">
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-9.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-10.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-1.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-2.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-3.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-9.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-10.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-1.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-2.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-3.jpg"
                    alt="project image"
                />
            </li>
        </ul>
        <ul class="projects-list">
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-5.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-6.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-7.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-8.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-9.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-10.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-5.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-6.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-7.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-8.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-9.jpg"
                    alt="project image"
                />
            </li>
            <li>
                <img
                    loading="lazy"
                    src="/img/project-img-10.jpg"
                    alt="project image"
                />
            </li>
        </ul>
    </div>
</section>
