<section id="faq">
    <div class="container accordion-js">
        <h4 class="fag-h1">FAQ</h4>
        <ul class="accordion fag-ul">
            <li class="accordion__item fag-li right-border ac right-left">
                <h4 class="ac-header ac">
                    <button class="accordion-header ac-trigger">
                        <span class="accordion-text">What programming languages are most often used in your
                            project?</span>
                        <div class="icon-div right-left-svg">
                            <svg class="icon-sec icon-up" width="20" height="20">
                                <use href="/img/sprite.svg#icon-arrow-down"></use>
                            </svg>
                            <svg class="icon-sec icon-down" width="20" height="20">
                                <use href="/img/sprite.svg#icon-arrow-up"></use>
                            </svg>
                        </div>
                    </button>
                </h4>
                <div class="accordion-body ac-panel">In the field of web development, there are various
                    technologies and programming languages. Typically, this includes a
                    combination of frontend (client side) and backend (server side) languages.
                </div>
            </li>
            <li class="accordion__item fag-li right-border ac right-left">
                <h4 class="ac-header">
                    <button class="accordion-header ac-trigger">
                        <span class="accordion-text width-text">What are the deadlines for the project?</span>
                        <div class="icon-div right-left-svg">
                            <svg class="icon-sec icon-up" width="20" height="20">
                                <use href="/img/sprite.svg#icon-arrow-down"></use>
                            </svg>
                            <svg class="icon-sec icon-down" width="20" height="20">
                                <use href="/img/sprite.svg#icon-arrow-up"></use>
                            </svg>
                        </div>
                    </button>
                </h4>
                <div class="accordion-body ac-panel">The terms of project implementation depend to a large extent
                    on a number of factors, such as the scope of the project,
                    its complexity, and the availability of resources. Determining exact deadlines is a difficult task,
                    and
                    it usually
                    occurs during the planning phase of the project.
                </div>
            </li>
            <li class="accordion__item fag-li right-border ac right-left">
                <h4 class="ac-header">
                    <button class="accordion-header ac-trigger">
                        <span class="accordion-text width-text">What payment methods do you accept?</span>
                        <div class="icon-div right-left-svg">
                            <svg class="icon-sec icon-up" width="20" height="20">
                                <use href="/img/sprite.svg#icon-arrow-down"></use>
                            </svg>
                            <svg class="icon-sec icon-down" width="20" height="20">
                                <use href="/img/sprite.svg#icon-arrow-up"></use>
                            </svg>
                        </div>
                    </button>
                </h4>
                <div class="accordion-body ac-panel">Payment through credit and debit cards such as Visa,
                    MasterCard, specialized electronic payment systems such as PayPal,
                    as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.
                </div>
            </li>
            <li class="accordion__item fag-li right-border ac right-elements">
                <h4 class="ac-header">
                    <button class="accordion-header ac-trigger">
                        <span class="accordion-text">How can I contact you?</span>
                        <div class="icon-div">
                            <svg class="icon-sec icon-up" width="20" height="20">
                                <use href="/img/sprite.svg#icon-arrow-down"></use>
                            </svg>
                            <svg class="icon-sec icon-down" width="20" height="20">
                                <use href="/img/sprite.svg#icon-arrow-up"></use>
                            </svg>
                        </div>
                    </button>
                </h4>
                <div class="accordion-body ac-panel">In the field of web development, there are various
                    technologies and programming languages. Typically, this includes a
                    combination of frontend (client side) and backend (server side) languages.
                </div>
            </li>
            <li class="accordion__item fag-li right-border ac right-elements">
                <h4 class="ac-header">
                    <button class="accordion-header ac-trigger">
                        <span class="accordion-text width-text">Do you provide advice or support?</span>
                        <div class="icon-div">
                            <svg class="icon-sec icon-up" width="20" height="20">
                                <use href="/img/sprite.svg#icon-arrow-down"></use>
                            </svg>
                            <svg class="icon-sec icon-down" width="20" height="20">
                                <use href="/img/sprite.svg#icon-arrow-up"></use>
                            </svg>
                        </div>
                    </button>
                </h4>
                <div class="accordion-body ac-panel">The terms of project implementation depend to a large extent
                    on a number of factors, such as the scope of the project,
                    its complexity, and the availability of resources. Determining exact deadlines is a difficult task,
                    and
                    it usually
                    occurs during the planning phase of the project.
                </div>
            </li>
            <li class="accordion__item fag-li right-border ac right-elements">
                <h4 class="ac-header">
                    <button class="accordion-header ac-trigger">
                        <span class="accordion-text">What does the process of developing a software product look like
                            from
                            idea
                            to implementation?</span>
                        <div class="icon-div last-element-margin">
                            <svg class="icon-sec icon-up" width="20" height="20">
                                <use href="/img/sprite.svg#icon-arrow-down"></use>
                            </svg>
                            <svg class="icon-sec icon-down" width="20" height="20">
                                <use href="/img/sprite.svg#icon-arrow-up"></use>
                            </svg>
                        </div>
                    </button>
                </h4>
                <div class="accordion-body ac-panel">Payment through credit and debit cards such as Visa,
                    MasterCard, specialized electronic payment systems such as PayPal,
                    as well as payments in cryptocurrencies such as Bitcoin, Ethereum and others.
                </div>
            </li>
        </ul>
    </div>
</section>