<div class="modal-overlay-menu">
  <div class="mobile-menu container">
    <button class="mobmenu-btn-close">X</button>
    <nav class="mobmenu-nav">
      <ul class="mobnemu-list">
        <li class="mobmenu-list-item">
          <a class="mobmenu-list-link" href="">About me</a>
        </li>
        <li class="mobmenu-list-item">
          <a class="mobmenu-list-link" href="">Benefits</a>
        </li>
        <li class="mobmenu-list-item">
          <a class="mobmenu-list-link" href="">Projects</a>
        </li>
        <li class="mobmenu-list-item">
          <a class="mobmenu-list-link" href="">FAQ</a>
        </li>
      </ul>
    </nav>
    <div class="mobmebu-container-btn-project">
      <button class="mobmenu-btn-project">Order the project</button>
    </div>
  </div>
</div>
