<div class="modal-overlay-menu">
  <div class="mobile-menu container">
    <button class="mobmenu-btn-close">
      <svg class="mobmenu-svg-close" width="14" height="14">
        <use href="/img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="mobmenu-nav">
      <ul class="mobnemu-list">
        <li class="mobmenu-list-item">
          <a class="mobmenu-list-link" href="#about_me">About me</a>
        </li>
        <li class="mobmenu-list-item">
          <a class="mobmenu-list-link" href="#benefits">Benefits</a>
        </li>
        <li class="mobmenu-list-item">
          <a class="mobmenu-list-link" href="#projects">Projects</a>
        </li>
        <li class="mobmenu-list-item">
          <a class="mobmenu-list-link" href="#faq">FAQ</a>
        </li>
      </ul>
    </nav>
    <button class="mobmenu-btn-project">Order the project</button>
  </div>
</div>
