<div class="container">
  <section id="projects" class="projects-section">
    <h2 class="h2-project">Projects</h2>
    <div class="all-div">
      <div class="div-list-p">
        <ul class="tags-panel">
          <li class="tag">#react</li>
          <li class="tag">#js</li>
          <li class="tag">#node js</li>
          <li class="tag">#git</li>
        </ul>
        <h4 class="p-project">
          Programming Across Borders: Ideas, Technologies, Innovations
        </h4>
        <a class="bth-project" target="_blank" href="https://github.com/lapoonder/superiore" role="button">See
          project</a>
      </div>

      <div class="swiper-container">
        <ul class="swiper-wrapper">
          <li class="swiper-slide">
            <img loading="lazy" src="./img/img-1-1x.png" srcset="./img/img-1-1x.png 1x, ./img/img-1-2x.png 2x"
              alt="Project one" class="img-project" />
          </li>
          <li class="swiper-slide">
            <img loading="lazy" src="./img/img-2-1x.png" srcset="./img/img-2-1x.png 1x, ./img/img-2-2x.png 2x"
              alt="Project two" class="img-project" />
          </li>
          <li class="swiper-slide">
            <img loading="lazy" src="./img/img-3-1x.png" srcset="./img/img-3-1x.png 1x, ./img/img-3-2x.png 2x"
              alt="Project three" class="img-project" />
          </li>
        </ul>
      </div>
    </div>
    <nav class="nav-bth">
      <button class="swiper-button-prev">
        <svg width="25" height="24" class="svg-one">
          <use href="./img/sprite.svg#icon-arrow-narrow-left"></use>
        </svg>
      </button>
      <button class="swiper-button-next">
        <svg width="25" height="24" class="svg-two">
          <use href="./img/sprite.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </nav>
  </section>
</div>