<section class="section reviews">
  <div class="container">
    <h2 class="section-title">reviews</h2>
    <ul class="cards"></ul>
    <nav class="arrows">
      <button class="arrow disabled">
        <svg width="24" height="24" class="svg-left disabled">
          <use href="./img/sprite.svg#icon-arrow-narrow-left"></use>
        </svg>
      </button>
      <button class="arrow">
        <svg width="24" height="24" class="svg-right">
          <use href="./img/sprite.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </nav>
  </div>
</section>
