.section {
}
.benefits {
}
.container {
}
.section-title {
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    color: rgba(250, 250, 250, 0.4);
    margin-bottom: 32px;
}
.benefits-menu {
}
.benefits-menu-item {
    margin-top: 16px;
    background-color: #242527;
    border-radius: 20px;
    padding: 24px;
}
.item-svg-box {
    background-color: #ed3b44;
    width: 48px;
    height: 48px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;
}
.item-svg {
    stroke: #fff;
    fill: transparent;
}
.menu-item-title {
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.02em;
    color: #fafafa;
    margin-bottom: 8px;
}
.menu-item-text {
    color: rgba(250, 250, 250, 0.6);
}
.benefits-anchor-link {
    margin-top: 32px;
    display: inline-block;
    padding: 18px 36px;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    outline: transparent;
    transition-property: border;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}

.benefits-anchor-link:hover,
.benefits-anchor-link:focus {
    border: 1px solid #fafafa;
}

@media (min-width: 768px) {
    .benefits-menu {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }
    .benefits-menu-item {
        width: calc((100% - 16px) / 2);
        margin-top: 0;
    }
    .benefits-anchor-link {
        margin-top: 64px;
    }
}

@media (min-width: 1440px) {
    .container-benefits {
        display: flex;
        justify-content: space-between;
    }
    .section-title {
        margin-bottom: 0;
    }
    .benefits-menu-link {
        width: 680px;
    }
}
