
#covers{
    margin-top: 15px;
}

#covers .container{
    background-color: rgba(217, 217, 217, 0.04);
    background-image: url(../img/covers-background.svg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    height: 546px;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 46px;
}

.projects-list{
    position: relative;
    top: calc(-162px * 2);
    left: calc(-282px * 2);
    display: flex;
    gap:  46px;
    transform: rotate(16deg)
}

.projects-list:nth-child(2n) {
    padding-left: calc(282px / 2);
}

.projects-list  li{
    min-width: 282px;
    /* height: 162px; */
}

.projects-list img{
    width: 282px;
    height: 162px;
}

@media (min-width: 768px) {
    #covers .container{
        height: 960px;
    }
    .projects-list li {
            min-width: 544px;
            /* height: 162px; */
        }
    .projects-list img {
            width: 544px;
            height: 314px;
        }
}