#covers .container {
    background-color: rgba(217, 217, 217, 0.04);
    background-image: url(../img/covers-background.svg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    height: 546px;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 28px;
    width: 100%;
    max-width: 100vw;
}

.projects-list {
    position: relative;
    top: calc(-162px);
    display: flex;
    gap: 23px;
    transform: rotate(16deg); 
}

.active-list-animation{
    animation: moving-projects 10s linear infinite;
}

.projects-list:nth-child(2n) {
    padding-left: 282px;
}

.projects-list li {
    min-width: 282px;
}

.projects-list img {
    width: 282px;
    height: 162px;
    transition: transform 250ms ease-in-out;
}

.projects-list img:hover,
.projects-list img:focus {
    transform: scale(1.1);
}

@keyframes moving-projects {
    from {
        transform: rotate(16deg) translateX(-35%);
    }

    to {
                                    /*start position + (image width + gap)*5  */
        transform: rotate(16deg) translateX(calc(-35% + (-282px + -23px) * 5));
    }
}

@media (min-width: 768px) {
    #covers .container {
        height: 960px;
        gap: 56px;
    }
    .projects-list {
        top: calc(-162px * 3);
        gap: 46px;
    }
    .projects-list li {
        min-width: 544px;
    }
    .projects-list img {
        width: 544px;
        height: 314px;
    }
    @keyframes moving-projects {
        from {
            transform: rotate(16deg) translateX(-25%);
        }
        to {
            transform: rotate(16deg) translateX(calc(-25% + (-544px + -46px) * 5));
        }
    }
}
