.fag-ul {
    padding: 0;
    list-style: none;
    margin: 0 auto;
    width: 100%;
    max-width: 343px;
}

.fag-h1 {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.4);
    width: 284px;
    margin-bottom: 32px;
    width: 100%;
}

.fag-li {
    display: flex;
    flex-direction: column;
    width: 343px;
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
    width: 100%;
}

.fag-li:nth-child(1) {
    border-top: 1px solid rgba(250, 250, 250, 0.2);
}

.accordion-header {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #fafafa;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 16px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    text-align: left;
    padding: 0;
    width: 100%;
}

.accordion-body {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.6);
    padding-bottom: 20px;
    display: none;
}

.accordion>li:nth-child(1) .accordion-text {
    width: 265px;
}

.accordion__item:nth-child(6) .accordion-text {
    width: 289px;
}

.width-text {
    width: 241px;
}

.icon-sec {
    border-radius: 50%;
    display: flex;
    padding: 7px;
    width: 34px;
    height: 34px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(250, 250, 250, 0.2);
    cursor: pointer;
    fill: transparent;
    stroke: white;
}

.icon-up {
    /* display: none; */
}

.icon-down {
    display: none;
}




@media only screen and (min-width: 768px) {
    .fag-li {
        width: 704px;
    }

    .accordion-header {
        margin-top: 32px;
        margin-bottom: 26px;
    }

    .accordion>li:nth-child(1) .accordion-text {
        width: 100%;
    }

    .width-text {
        width: 100%;
    }

    .accordion__item:nth-child(6) .accordion-text {
        width: 485px;
    }

    .accordion-body {
        padding-bottom: 24px;
        width: 640px;
    }

    .fag-ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .icon-sec {
        border: 1px solid rgba(250, 250, 250, 0.2);
        border-radius: 100px;
        padding: 10px;
        width: 40px;
        height: 40px;
        margin-left: 8px;
    }
}


@media only screen and (min-width: 1440px) {
    .fag-ul {
        width: 1376px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: stretch;
    }

    .fag-li {
        width: 688px;
    }

    .accordion-body {
        width: 656px;
    }

    .fag-li:nth-child(1) {
        order: 1;
    }

    .fag-li:nth-child(2) {
        order: 3;
    }

    .fag-li:nth-child(3) {
        order: 5;
    }

    .fag-li:nth-child(4) {
        order: 2;
        border-top: 1px solid rgba(250, 250, 250, 0.2);
    }

    .fag-li:nth-child(5) {
        order: 4;
    }

    .fag-li:nth-child(6) {
        order: 6;
    }

    .right-left {
        border-right: 1px solid rgba(250, 250, 250, 0.2);
    }

    .right-left-svg {
        margin-right: 32px;
    }

    .right-elements {
        padding-left: 32px;
    }

    .last-element-margin {
        margin-left: 131px;
    }

    .accordion-body {
        padding-bottom: 26px;
    }
}