.footer {
    padding-top: 32px;
    padding-bottom: 32px;
    background-image: url(../img/glass-effect-2-mob.png);
    background-repeat: no-repeat;
    background-position: right;
}
@media (min-resolution: 192dpi) {
    .footer {
        background-image: url(../img/glass-effect-2-mob-2x.png);
    }
}

.footer-section {
    display: block;
    max-width: 450px;
    padding: 0;
}

.footer-image {
    width: 44px;
    float: left; /* Выравнивание по левому краю */
    margin: 0 8px 0 0; /* Отступы вокруг картинки */
}

.footer-header {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.132;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    /* color: #fafafa; */
}

.footer-header span {
    color: #ed3b44;
}

.footer-form {
    margin-top: 63px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-input {
    width: 100%;
    height: 44px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.02em;
    padding-bottom: 20px;
    color: #fafafa;
    border: none;
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
    transition: border-bottom 250ms linear;
    outline: none;
    background-color: #1c1d20;
    text-overflow: ellipsis;
}

.form-input::placeholder {
    color: rgba(250, 250, 250, 0.6);
}

.green {
    border-bottom: 1px solid rgba(60, 188, 129, 0.5);
}

.green-text {
    color: #3cbc81;
}

.red {
    border-bottom: 1px solid rgba(231, 74, 59, 0.5);
}

.red-text {
    color: #e74a3b;
}

.form-input:focus,
.form-input:hover,
.form-input:active {
    color: #fafafa;
    background-color: #1c1d20;
    border: none;
    border-bottom: 1px solid rgba(250, 250, 250, 0.5);
    outline: none;
}

.btn-form {
    width: 100px;
    height: 100px;
    margin-top: 16px;
    border-radius: 100%;
    border: none;
    outline: none;
    background-color: #ed3b44;
    transition: background-color 250ms linear;
    color: #fafafa;
}

.btn-form:focus,
.btn-form:active,
.btn-form:hover {
    background-color: #e0373f;
}

.footer-contacts {
    margin-top: 74px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
}

.footer-contacts a {
    border: 1px solid rgba(250, 250, 250, 0.2);
    transition: border 250ms linear;
    border-radius: 60px;
    padding: 10px 12px;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #fafafa;
}

.footer-contacts a:hover,
.footer-contacts a:active {
    border: 1px solid #fafafa;
}

.pop-up {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 500ms linear, visibility 500ms linear;
}

.pop-up.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.pop-up-content {
    border: 1px solid rgba(250, 250, 250, 0.1);
    border-radius: 20px;
    padding: 64px 32px;
    width: 343px;
    height: 276px;
    background: #1c1d20;
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
}

.pop-up-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.pop-up-close-btn:hover .pop-up-close-icon {
    fill: grey;
}

.pop-up-close-icon {
    width: 11px;
    height: 11px;
    fill: #fafafa;
    transition: fill 250ms ease-out;
}

.pop-up-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fafafa;
    margin-bottom: 16px;
}

.pop-up-text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(250, 250, 250, 0.6);
}

@media (min-width: 768px) {
    .footer {
        padding-top: 80px;
        padding-bottom: 169px;
        background-image: url(../img/glass-effect-2-tab.png);
    }

    @media (min-resolution: 192dpi) {
        .footer {
            background-image: url(../img/glass-effect-2-tab-2x.png);
        }
    }

    .footer-image {
        width: 70px;
        margin-right: 20px;
    }

    .footer-header {
        font-size: 64px;
    }

    .footer-form {
        flex-direction: row;
        align-items: center;
        margin-top: 18px;
        margin-bottom: 18px;
        gap: 32px;
    }

    .form-input {
        width: 245px;
    }

    .btn-form {
        width: 150px;
        height: 150px;
        margin-top: 0;
    }

    .footer-contacts {
        margin-top: 0;
        gap: 8px;
    }

    .footer-contacts a {
        padding: 18px 32px;
        font-size: 16px;
    }

    .pop-up-content {
        padding: 64px;
        width: 492px;
        height: 246px;
    }

    .pop-up-close-btn {
        width: 24px;
        height: 24px;
    }

    .pop-up-close-icon {
        width: 12px;
        height: 12px;
    }
}

@media (min-width: 1440px) {
    .footer {
        padding-left: 196px;
        padding-right: 196px;
        background-image: url(../img/glass-effect-2-desc.png);
    }

    @media (min-resolution: 192dpi) {
        .footer {
            background-image: url(../img/glass-effect-2-desc-2x.png);
        }
    }

    .form-input {
        width: 390px;
    }

    .btn-form {
        margin-left: 54px;
    }
}
