/*Мобільна версія*/

/*фонове зображення*/
.hero-img {
    background-image: url(../img/webp/hero-mob1x.webp);
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    padding-top: 281px;
    padding-bottom: 32px;
}
@media screen and (min-resolution: 192dpi) {
    .hero-img {
        background-image: url(../img/webp/hero-mob2x.webp);
    }
}

/*контент секції*/
.hero {
    position: relative;
}

.hero-title {
    padding-bottom: 212px;
    font-weight: 500;
    font-size: 50px;
    line-height: 1;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #fafafa;
}

.hero-list {
    max-width: 100%;
    display: flex;
    gap: 4px;
    justify-content: flex-end;
}

.hero-list-link {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    padding: 9px 10px;
    height: 37px;
    transition: border 250ms linear;
}

.hero-list-item {
    width: 37px;
}

.hero-list-item:last-child {
    width: 178px;
}

@media screen and (max-width: 374px) {
    .hero-list-item:last-child a {
        display: block;
        white-space: nowrap; /* Запрещаем перенос строк */
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 7px 10px;
    }

    .hero-list-item:last-child {
        max-width: calc((100vw / 2) - 35px);
    }
}

.hero-list-link:hover,
.hero-list-link:focus {
    border: 1px solid #fafafa;
}

/*Планшетна версія*/
@media screen and (min-width: 768px) {
    .hero-img {
        background-image: url(../img/webp/hero-tab1x.webp);
        padding-top: 300px;
    }
    @media screen and (min-resolution: 192dpi) {
        .hero-img {
            background-image: url(../img/webp/hero-tab2x.webp);
        }
    }

    .hero-title {
        font-size: 90px;
        padding-bottom: 187px;
        padding-right: 104px;
    }

    .hero-list {
        gap: 8px;
        justify-content: flex-end;
    }

    .hero-list-link {
        padding: 18px 20px;
        height: 55px;
        font-size: 16px;
    }

    .hero-list-item {
        min-width: 55px;
    }

    .hero-list-item:last-child {
        min-width: 223px;
    }
}

/*Десктопна версія*/
@media (min-width: 1440px) {
    .hero-img {
        background-image: url(../img/webp/hero-desk1x.webp);
    }

    @media screen and (min-resolution: 192dpi) {
        .hero-img {
            background-image: url(../img/webp/hero-desk2x.webp);
        }
    }

    .hero-title {
        font-size: 90px;
        width: 1084px;
        margin: auto;
        padding-right: 0;
        padding-bottom: 243px;
    }
}
