.arrows {
    height: 52px;
    margin-top: 32px;
    justify-content: center;
    display: flex;
    gap: 12px;
}

.swiper-button-prev,
.swiper-button-next {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border: 1px solid rgba(250, 250, 250, 0.5);
    border-radius: 60px;
    padding: 14px;
    width: 52px;
    height: 52px;
    background-color: transparent;
}

.swiper-button-disabled {
    opacity: 0.3;
    pointer-events: none;
}

.swiper-button-prev:disabled,
.swiper-button-next:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.svg-left,
.svg-right {
    fill: transparent;
    stroke: white;
}

.cards {
    display: flex;
}

.swiper {
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    background-color: transparent;
    max-width: 343px;
    min-width: 288px;
    width: 100%;
}

.reviews .swiper-slide {
    opacity: 1;
    height: 302px;
    align-items: flex-start;
}

.review-card {
    display: block;
    max-width: 343px;
    min-width: 288px;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 20px;
    padding: 32px 24px;
    overflow: hidden;
}

.review-card-img {
    border-radius: 10px;
    width: 48px;
    height: 48px;
    margin-bottom: 32px;
}

.card-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: #fafafa;
    margin-bottom: 8px;
}

.card-paragraph {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.6);
    max-width: 295px;
    width: 100%;
    max-height: 158px;
    overflow: hidden;
}

@media (min-width: 768px) {
    .swiper {
        max-width: 704px;
        padding: 0 1px;
    }

    .arrows {
        height: 68px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        padding: 18px;
        width: 68px;
        height: 68px;
    }

    .review-card {
        width: calc((100% - 16px) / 2);
    }
}

@media (min-width: 1440px) {
    .section-title {
        margin-bottom: 32px;
    }

    .swiper {
        max-width: 1376px;
    }

    .review-card {
        width: calc((100% - 48px) / 4);
    }

    .reviews .swiper-slide {
        flex-direction: column;
    }
}
